<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BD_Kyrsach</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">OOO "BDK"</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Catalog">Catalog</a>
                        </li>
                        @{ if (!User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" asp-controller="Account" asp-action="Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" asp-controller="Account" asp-action="Sing_in">Sing in</a>
                                </li>
                                } }
                                @{ if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" asp-controller="Construct" asp-action="Construct">Construct</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="My_furniture">My furniture</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" asp-controller="Account" asp-action="Log_out">Logout</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" asp-controller="Order" asp-action="Order">Order</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" aria-current="page" asp-controller="Order" asp-action="My_order">My order</a>
                                        </li>
                                    } }
                            </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - OOO BDK
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
